ALTER TABLE rutinas ADD COLUMN fase_recuperacion ENUM('AGUDA','SUBAGUDA','FORTALECIMIENTO','ALTA') DEFAULT 'AGUDA', ADD COLUMN nivel_dolor INT, ADD COLUMN comorbilidades JSON, ADD COLUMN nivel_actividad_fisica ENUM('SEDENTARIO','MODERADAMENTE_ACTIVO','ACTIVO','DEPORTISTA');
